{
  "extends": "@1stg/eslint-config/loose",
  "overrides": [
    {
      "files": "*.{vue,ts,tsx}",
      "extends": [
        "@nuxtjs/eslint-config-typescript",
        "vuetify",
        "@1stg/eslint-config/loose"
      ]
    }
  ]
}
