GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_CLIENT_TOKEN=
GITHUB_OAUTH_CALLBACK=

MIXIN_CLIENT_ID=
MIXIN_CLIENT_CONFIG=./keystore.json
MIXIN_CLIENT_SECRET=

DATABASE_CONFIG={"host": "", "port": "3306", "username": "", "password": "", "database": ""}
