.border-2 {
  border-width: 2px;
}

.v-application {
  &--wrap {
    padding: 20px;
  }

  .list-unstyled {
    list-style: none;
    padding-left: 0;
  }

  .v-avatar {
    border-radius: $square-radius;
  }

  .v-card {
    border-radius: $square-radius;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    &__actions {
      .v-btn:last-child {
        margin-bottom: 10px;
      }
    }
  }

  .v-text-field {
    &--filled,
    &--full-width,
    &--outlined {
      > .v-input__control > .v-input__slot {
        min-height: unset;
      }
    }
  }
}
